/*-------------------Defaults-------------------*/
* {
	background: transparent;
/*	border-radius : 10px 10px 10px 25px;*/
/*	border-bottom-left-radius: 25px;*/
	color: black;
/*	border: none;*/
}

/*-------------------Generals-------------------*/

box *, frame * {
/*        background-color : rgba(0,0,0,0.7);*/
	background-color: transparent;
	border-radius : 30px 10px 30px 10px;
        color: white;
	border: none;
}

/*-------------------Window decoration-------------------*/

decoration {
/*	box-shadow:none;*/
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 139,0.75);
	border: none;
	background-color: rgba(0, 0, 0, 0.15);
/*	background-color: rgba(255, 127, 80, 0.3);*/
/*	border:1px solid #FFF;*/
	border-radius: 30px 10px 30px 10px;
	padding: 1px;
/*	border-bottom-left-radius: 25px;*/
}

headerbar {
        font-family: "Sans Regular";
	font-size: 11px;
	font-stretch: normal;
        border: 2px solid rgba(0, 0, 139, 1.0);
/*	border: none;*/
/*	box-shadow: 2px 2px 10px 0px rgba(255, 127, 80,0.75);*/
        box-shadow:none;
	margin:7px;
	border-radius: 30px 7px 30px 7px;
	background-color: rgba(242, 242, 242, 0.9);
	color: black;
	padding: 0px;
}

headerbar box {
	background-color: rgba(0, 0, 139, 0.8);
/*	background-color: rgba(255, 0, 139, 0.9);*/
	border-radius : 25px 10px 25px 10px;
	margin: 10px;
	padding: 0px;
}

/*
textview {
        color: black;
        border-radius: 20px;
        padding: 7px;
        border:none;
}*/

/*widget {
	border-radius: 20px;
	border-bottom-left-radius: 25px;
}*/

/*-------------------Windows-------------------*/

window#MainWindow {
	border: none;
/*	background-color: rgba(255, 255, 255, 0.7);*/
/*	padding: 0;*/
	background: transparent;
        border-radius : 30px 10px 30px 10px;
/*	opacity: 0.7;*/
	color: white;
/*	border-bottom-left-radius: 50px;*/
/*	border-collapse: separate; */
/*	background-color: transparentize(black, 0);*/
/*	background-color: opacify(black,0.5);*/
}

/*-------------------Grids-------------------*/

grid#MainGrid {
        border: 2px solid #fff;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 139,0.75);
/*	box-shadow: none;*/
/*	background-color: rgba(0, 0, 205, 0.7);*/
	background: rgba (0, 17, 53, 0.9);
/*	background: transparent;*/
        border-radius : 30px 10px 30px 10px;
	color: white;
	padding: 10px;
/*        border:1px solid #FFF;*/
/*	border: none;*/
/*	color: white;*/
/*	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 25px;*/
}

/*-------------------Frames-------------------*/

frame#FrameIpAddr, frame#FramePort {
	border-radius: 10px 10px 10px 10px;
	background-color : rgba(0, 0, 0, 0.3);
	border: 2px solid #FFF;
/*	border:none;*/
	color: white;
}

/*-------------------Labels-------------------*/

label#MyLabel {
	color: white;
}

label#LabelClient {
	color: black;
}

label#ErrorLabel {
/*	color: rgb(242, 242, 242);*/
	color: red;
}

/*-------------------Buttons-------------------*/
button * {
	color: white;
}

button#ButtonConnect {
        color: white;
        border: 1px solid #FFF;
}

button:hover {
	background-color: #3085a9;
}

button:active {
	background-color: #0274d9;
}

/*-------------------Selection-------------------*/

selection {
	background: rgba(242, 242, 242, 0.5);
	color: rgba(0, 17,53, 1.0);
}

/*-------------------Entry-------------------*/

textbuffer * {
	border: 1pc solid #FFF;
}

entry box {
	border: 1px solid rgba(0, 0, 139, 0.7);
	border-radius : 30px 10px 30px 10px;
}
